@{
    ViewData["Title"] = "Страница опроса пользователей";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <a  asp-controller="Home" asp-action="RsvpForm"> Пройти опрос </a>
    </p>
</div>
